@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Warm Family is one of the group inside Jia Mei Fellowship in Columbus Contempary Chinese Church.
    For more information about CCCC, go <a href="http://www.columbusccc.org">here</a>. 
</p>
